@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(-45deg, rgb(137, 155, 206), white);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

form {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  width: 60%;
  min-width: 400px;
  max-width: 600px;
  box-shadow: -2px -2px 15px rgba(0,0,0,0.1);
}

h2 {
  font-weight: 400;
  text-align: center;
  max-width: 70%;
  margin: 80px auto 30px;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0 30px 70px;
}

li {
  margin: 10px 0;
}

input, label {
  cursor: pointer;
}

input:focus {
  outline: none;
}

input[type="submit"] {
  background-color:rgb(129, 73, 175);
  color: #fff;
  width: 100%;
  border: none;
  padding: 20px 0;
  font-size: 1rem;
}

input[type="submit"]:disabled {
  background-color:rgb(88, 49, 121);
  cursor: default;
}

p {
  font-size: 1.5rem;
  text-align: center;
}